*{
    font-family: Karla;
}

html{
    color: rgb(175, 175, 175);
    background-color: rgb(29, 29, 29);
}
.layout{
    margin: 0.01px;
    height: 90%;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 200px 3fr 1fr;
    grid-template-rows: 1fr 300vh;
    grid-template-areas:
    "one two three"
    "one two five";
}

.box{
    padding: 10px;
    margin: 5px;
    background-color: rgb(44, 44, 44);
    border-radius: 5px;
}

.one{
    grid-area: one;
    background-color: rgb(44, 44, 44);

}

.three{
    grid-area: three;
}

.five{
    grid-area: five;
}

.one h4, .four h4{
    text-align: center;
}

.two{
    grid-area: two;
}

.hi332{
    color: white;
    margin: 10px;
}

.featured-box{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
}


.featured-box img{

    border-radius: 30px;
    width: 90%;
    height: 110%;
}

.SW-description{
    color: white;
    position: absolute;
    top: 230px;
    left: 290px;

}
.the-last-jedi{
    letter-spacing: 10px;
    line-height: 0.8;
}
.hove{
    color: rgb(155, 155, 155);
}

.hover{
    color: white;
}

.watch{
    border-radius: 15px;
    background-color: rgb(255, 65, 31);
    color: white;
    height: 50px;
    text-align: center;
    border: 2px solid rgb(255, 65, 31);
    width: 100px;
}


.watch h3{
    position: relative;
    bottom: 7px;
}


.added{
    position: relative;
    bottom: 53px;
    left: 120px;
    border-radius: 10px;
    background-color: gray;
    color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid grey;
    font-size: 22px;
}

.added h2{
    position: relative;
    bottom: 24px;
}

.left{

    font-size: 24px;
    position: relative;
    bottom: 50px;
    left: 750px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
}

.iowe{
    height: 50px;
}

.right{

    font-size: 24px;
    position: relative;
    bottom: 90px;
    left: 800px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
}

.left h3, .right h3{
    position: relative;
    bottom: 27px;
}

.artist-box-box{
    display: flex;
    justify-content: center;

}

.artist-box{

    width: 90%;
    height: 220px;
    display: flex;
    justify-content: space-between;
}

.artist{
    border-radius: 5px;
    margin: 5px;
}

.description{
    position: relative;
    bottom: 90px;
    line-height: 8px;
    text-align: center;

}
.description img{
    position: relative;
    top: -25px;  
}

.description h3{
    color: white;
}

.artist img{
    border-radius: 5px;
}

.add{
    position: relative;
    bottom: 320px;
    left: 120px;
    height: 40px;
    color: white;
    opacity: 0.9;
    border-radius: 8px;
    background-color: gray;
    width: 40px;
    font-size: 17px;
    padding: 0;
    text-align: center;
    border: 2px solid grey;
}

.add h2{
    position: relative;
    bottom: 17px;

}

.addd{
    position: relative;
    bottom: 227px;
    left: 118px;
    height: 40px;
    color: white;
    opacity: 0.9;
    border-radius: 8px;
    background-color: gray;
    width: 40px;
    font-size: 17px;
    padding: 0;
    text-align: center;
    border: 2px solid grey;
}

.addd h2{
    position: relative;
    bottom: 5px;

}

.continue-watching-box-box{


}

.continue-watching-box{
    padding: 10px;
    margin: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.movie{
    border-radius: 15px;
    color: rgb(214, 214, 214);
    text-align: center;
    width: 220px;
    height: 250px;
}

.line{
    border: 3px solid red;
    width: 150px;
    position: relative;
    bottom: 5px;
}

.movie h3{
    letter-spacing: 1px;
    color: white;
    top: -25px;
    position: relative;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(32, 32, 32);
}

.movie img{
    border-radius: 5px;
}

.direction{
    height: 0px;

}

.rated-box{
    max-width: 950px;
    padding: 10px;
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}

.left2{
    font-size: 24px;
    position: relative;
    top: 15px;
    left: 750px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
}


.right2{
    font-size: 24px;
    position: relative;
    top: -24px;
    left: 800px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 2px solid white;
    text-align: center;
}


.left2 h3{
    color: white;
    position: relative;
    bottom: 26px;
}

.right2 h3{
    color: white;
    position: relative;
    bottom: 26px;
}

.left h3, .right h3{
    color: white;
}



.search-box{
    margin: 10px;
    display: flex;
    justify-content: center;
}

.search{
    border: 2px solid grey;
    width: 80%;
    background-color: rgb(44, 44, 44);
    padding: 10px;
    border-radius: 30px;
}


.search-icon{
    position: absolute;
    top: 20px;
    right: 50px;
}

.popular-movie-box{
    margin: 20px;
}

.JW img{
    border-radius: 10px;
    position: relative;
    left: 20px;
}

.pmovie-disc{
    position: absolute;
    top: 150px;
    right: 50px;
}

.pmovie-disc img{
    position: relative;
    top: 30px;
    left: -27px;
}

#title{
    line-height: 0.35;
    color: white;
}

#rating{
    width: 25px;
    color: rgb(202, 202, 202);
    position: relative;
    bottom: 32px;
    left: 70px;
}

.pmovie-disc2{
    position: absolute;
    bottom: 250px;
    right: 10px;
    width: 150px;
}

#title2{
    color: white;
}


#imdb2{
    position: relative;
    top: 16px;
    left: -25px;
}

#rating2{
    width: 20px;
    position: relative;
    bottom: 45px;
    left: 72px;
}


.pmovie-disc3{
    position: relative;
    bottom: 155px;
    left: 120px;
    width: 150px;
}

#title3{
    color: white;
}


#imdb3{
    position: relative;
    top: 16px;
    left: -25px;
}

#rating3{
    width: 20px;
    position: relative;
    bottom: 45px;
    left: 72px;
}


.SMbox{
    display: flex;
    justify-content: center;
}

.see-more{
    color: white;
    border-radius: 20px;
    text-align: center;
    border: 2px solid rgb(255, 65, 31);
    background-color: rgb(255, 65, 31);
    position: relative;
    bottom: 180px;
    width: 80%;

}

#Favorites{
    position: relative;
    bottom: 100px;
}

.popular-movie-box2{
    margin: 30px;
    position: relative;
    bottom: 100px;
}

.popular-movie-box3{
    margin: 30px;
    position: relative;
    bottom: 300px;
}

.popular-movie-box4{
    margin: 30px;
    position: relative;
    bottom: 500px;
}

.popular-movie-box5{
    margin: 30px;
    position: relative;
    bottom: 700px;
}

.SMbox2{
    display: flex;
    justify-content: center;
}
.see-more2{
    border-radius: 20px;
    background-color: rgb(255, 65, 31);
    text-align: center;
    border: 2px solid rgb(255, 65, 31);
    width: 80%;
    position: relative;
    bottom: 880px;
    color: white;
}













